@mixin border-black {
    border: 1px solid black;
  }

.todo-insert {
    background-color: #88ABF2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    @include border-black;

    .insert-text {
        width: 80%;
        height: 1.5rem;
        border-radius: 5px;
        @include border-black;
    }

    .insert-button {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        @include border-black;
        width : 1.5rem;
        height: 1.5rem;
        padding: 0;
    }

}